.projects{
    text-align: center; 
    margin-bottom: 20px;
   
    border: 2px solid transparent;
    
}

.projectcss{
    padding: 30px  0px;
    margin-top: 80px;
    border-radius: 8px;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;    background: rgba(0, 0, 0, 0.04); 
}



.project{
    margin-top: 60px;
    
   
}
.project h2{
     text-align: left;
     padding-left: 60px;
     color: rgb(7, 7, 7);
     text-decoration: underline;
     font-weight: bold;
}

.ProjectImg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ProjectImg img{
width: 350px;
 margin: 10px;
 transition: transform 0.3s ease;
 border-radius: 8px;
}

.ProjectImg img:hover {
    transform: scale(1.1); 
    box-shadow: rgba(250, 247, 247, 0.35) 0px 5px 15px;
  }
  

.repoLink{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
    margin-bottom: 12px;
   
}
.repo a{
    padding: 8px;
    border-radius: 10px;
    /* border: 2px solid rgb(0, 0, 0); */
    background: rgba(74, 238, 33, 0.486);
   display: inline-block;
   margin: 4px;
}
.repo a:hover{
    background: rgba(74, 238, 33, 0.686);
    
    
}



.repo img{
    width: 30px;
    background: transparent;
}

  .descrip{
    text-align: start;
   
  }
  .descrip h4{
    padding-left: 70px;
    text-decoration: underline;
  }
  .descrip p{
    padding-left: 70px;
  }

 .descSection{
    padding-top: 0px;
    font-size: 22px;
    color: #2874a6;
    font-weight: bold;
    text-align:start;
}
.description{
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    font-weight: bold;
    padding: 0px 60px;
    color: rgb(99, 95, 95);
}